Source: ros-kinetic-fzi-icl-core
Section: misc
Priority: extra
Maintainer: Georg Heppner <heppner@fzi.de>
Build-Depends: debhelper (>= 9.0.0), cmake, libboost-all-dev, libtinyxml-dev
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-fzi-icl-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libtinyxml-dev, ros-kinetic-catkin
Description: The fzi_icl_core package
